<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    
    <script>
        $(window).on('load', function(){
            $("#shot").click(function(){
                $.ajax({
                    type: 'POST',
                    url: '/check_grade',
                    data: {},
                    success: function (data) {
                        console.log("data : ", data);
                        $("#cam").attr("src", "/static/img/cam/image.jpg");
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
</head>

<body>
    <center>
    <article>
        {% include "menu_template.html" %}

        <div id="big_contain">
            <div>
                카메라 화면
            </div>
            <button id="shot">촬영</button>
            <img id="cam">

        </div>
        
   
        <!-- <footer>
            <div class='footer_tab_box'>
                <div class='footer_tab'>ⓒ 내일 Coporation</div>
                <div class='footer_tab'>도움말</div>
                <div class='footer_tab'>이용약관</div>
                <div class='footer_tab'>개인정보 처리방침</div>
            </div>
        </footer> -->
   </article>
   </center>
</body>
</html>