<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    
    <script>
        $(window).on('load', function(){
            $("#shot").click(function(){
                $.ajax({
                    type: 'POST',
                    url: '/check_grade',
                    data: {},
                    success: function (data) {
                        console.log("data : ", data);
                        var time = new Date().getTime();
                        $("#cam").attr("src", "/static/img/cam/image.jpg"+'?time='+time);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
</head>

<body>
    {% include "menu_template.html" %}
    <center>
    <article>

        <div id="big_contain">
            <!-- 가운데 큰 그림 시작 -->
            <div id="grade_table_img_box" style="
                background-image: url('/static/img/meat2.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center 15%;
            ">
                <div>
                    <p>육질 등급 측정</p>
                </div>
            </div>
            <!-- 가운데 큰 그림 끝 -->


            <label class='switch-button' >
                <span class='beef'>이미지</span>
                <span class='pork'> 카메라</span>
                <input type='checkbox' id='btn'>
                <span class='onoff-switch'></span>               
            </label>
            
            <div id='gallery_box' class="contain_box">
                <div class="zone">
                    <div id="dropZ">
                        <div class="selectFile">       
                            <label for="file">사진 찾아보기</label>                   
                            <input type="file" name="files[]" id="file" capture="camera" accept='image/jpeg,image/png'>
                        </div>

                        <div class='upload_text'>
                            <img src="/static/img/meat3.png">
                            <p style="font-size: 36px; color: #727272"><b>측정하실 고기의 이미지를 업로드 하세요</b></p>
                            <p style="font-size: 26px; color: #9c9c9c"><b>업로드 할 파일을</b></p>
                            <p style="font-size: 26px; color: #707070"><b style="color: rgb(250, 180, 0)">마우스로 끌어서</b><b> 넣어주세요</b></p>
                        </div>
                    </div>
                </div>

                <div class="classify_btn" style='display: none'>측정</div>
            </div>
            
            <div id='camera_box' class="contain_box" style='display: none'>
                <!-- <div>
                    카메라 화면
                </div>
                <button id="shot">촬영</button>
                <img id="cam"> -->
                <script>
                    $(function(){
                        $('#camera').change(function(e){
                            $('#pic').attr('src', URL.createObjectURL(e.target.files[0]));
                            $(".classify_btn").show();
                
                            $('.classify_btn').click(function(){
                                var formData = new FormData();
                                formData.append("file", e.target.files[0]);

                                $.ajax({
                                    type: 'POST',
                                    url: '/uploadIMG',
                                    processData: false,
                                    contentType: false,
                                    xhrFields: {
                                        withCredentials: true
                                    },
                                    data: formData,
                                    success: function (data) {
                                        alert(data.result);
                                    },
                                    error: function (error) {
                                        console.error(error);
                                    }
                                });
                            });
                        });
                    });
                </script>
                <input type="file" id="camera" name="camera" capture="camera" accept="image/*" />
                <label for="file">여기를 눌러 촬영하세요</label>
                <br/>
                <img id="pic" style="width:50%;" />

                <div class="classify_btn" style='display: none'>측정</div>
            </div>

        </div>

        <script>
            $(document).on("click", "#btn", function(){
                $("#gallery_box").toggle("slow");
                $("#camera_box").toggle("slow");
            })
        </script>
        
   
        <!-- <footer>
            <div class='footer_tab_box'>
                <div class='footer_tab'>ⓒ 내일 Coporation</div>
                <div class='footer_tab'>도움말</div>
                <div class='footer_tab'>이용약관</div>
                <div class='footer_tab'>개인정보 처리방침</div>
            </div>
        </footer> -->
   </article>
   </center>
   <script>
        function close_btn(target){
            $(".fileBox").remove();
            $("#file").val(null);
            $(".classify_btn").hide();
        }
        $(window).on('load', function(){

            var ori_image_path = null;
            var ren_image_path = null;
        
            $('.zone').on("dragover", dragOver).on("drop", uploadFiles);
                        
            $("#file").change(function(e){
                uploadFiles(e);
            });
        
            function dragOver(e) {
                if($(e.target).get(0) != $('#file').get(0)){
                    e.stopPropagation();
                    e.preventDefault();
                }
        
                var dropZone = $('.zone'),
                    timeout = window.dropZoneTimeout;
                if (!timeout) {
                    dropZone.addClass('in');
                }
                else {
                    clearTimeout(timeout);
                }
                var found = false,
                    node = e.target;
        
                do {
                    if (node === dropZone[0]) {
                        found = true;
                        break;
                    }
                    node = node.parentNode;
                } while (node != null);
        
                if (found) {
                    dropZone.addClass('hover');
                }
                else {
                    dropZone.removeClass('hover');
                }
                window.dropZoneTimeout = setTimeout(function () {
                    window.dropZoneTimeout = null;
                    dropZone.removeClass('in hover');
                }, 100);
            }
        
            function uploadFiles(e) {
                if($(e.target).get(0) != $('#file').get(0)){
                    e.stopPropagation();
                    e.preventDefault();
                    dragOver(e);
                }
                
                e.dataTransfer = e.originalEvent.dataTransfer;
                var files = e.target.files || e.dataTransfer.files;
        
                selectFile(files, e);
            }
            
            function selectFile(fileObject, e){
                var files = null;
        
                if(fileObject == undefined){
        
                }
        
                if(fileObject != null){
                    files = fileObject;
                }
                else{
                    files = $("#file").files;
                }
        
                if(files != null && files[0] != undefined){
                    if (files.length > 1 || $("#dropZ .fileBox").length>0 ){
                        alert('파일은 1개만 업로드할 수 있습니다.');
                        return;
                    }
        
                    if (files[0].type==='image/jpeg' || files[0].type==='image/png') {
                        $(".classify_btn").show();
                        $(".view_image_box").hide();
                        $(".btn_box").hide();
        
        
                        $(".zone").css({"outline": "none"});
        
                        $('.view_image_box,.view_image_box').hide();
        
                        var tag = '';
                        var f = files[0];
                        var fileName = f.name;
                        var fileSize = f.size / 1024 / 1024;
                        fileSize = fileSize < 1 ? fileSize.toFixed(3) : fileSize.toFixed(1);
        
                        tag += 
                            "<div class='fileBox'>" +
                                "<image id='thumbnail'>" +
                                "<span class='x_btn' onclick='close_btn(this);'>x</span>" +
                                "<div class='filename_text'>"+fileName+"<br>"+fileSize+" MB</div>" +
                            "</div>";
        
                        $("#non-upload-box").css("display", "none");
                        $("#dropZ").append(tag);
        
                        $('html,body').animate({ scrollTop: 9999 }, 'slow');
        
                        var reader = new FileReader();
                        reader.onload = function(e){
                            $("#thumbnail").attr("src", e.target.result);
                        }
                        reader.readAsDataURL(f);
        
                        $('.classify_btn').click(function(){
                            var formData = new FormData();
                            formData.append("file", f);
        
                            $.ajax({
                                type: 'POST',
                                url: '/uploadIMG',
                                processData: false,
                                contentType: false,
                                xhrFields: {
                                    withCredentials: true
                                },
                                data: formData,
                                success: function (data) {
                                    alert(data.result);
                                },
                                error: function (error) {
                                    console.error(error);
                                }
                            });
                        });
                    }
                    else{
                        alert('이미지 파일만 업로드할 수 있습니다.');
                        $("#file").val(null);
                        return;
                    }
                }
            }
        });
    
   </script>
</body>
</html>