<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src = "/static/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <!--Trigger-->
    <!-- <a class="login-trigger" href="#" data-target="#login" data-toggle="modal">Login</a>

    <div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog">
        
        <div class="modal-content">
        <div class="modal-body">
            <button data-dismiss="modal" class="close">&times;</button>
            <h4>Login</h4>
            <form>
            <input type="text" name="username" class="username form-control" placeholder="Username"/>
            <input type="password" name="password" class="password form-control" placeholder="password"/>
            <input class="btn login" type="submit" value="Login" />
            </form>
        </div>
        </div>
    </div>  
    </div> -->


    <center>
    <article>
        {% include "menu_template.html" %}

        <div id="big_contain">
            <!-- 가운데 큰 그림 시작 -->
            <div id="top_article">
                <img src="/static/img/메인화면/메인페이지 배경.png">
                <div>
                    <p style="font-size: 24px; line-height: 40px">고기등급 이젠<br>내가 보고 사자!</p>
                    <p style="margin: 30px 0; font-size:14px">사장님이 측정한 고기 품질을 직접 확인해보세요.<br><br>라벨에 표시된 측정번호를 입력하거나 QR코드를 입력하세요.</p>

                    <button id="check_grade">등급 책정하러 가기</button>
                </div>
            </div>
            <!-- 가운데 큰 그림 끝 -->

        
            <div id="search_box" style='display:none'>
                <div>
                    <div id='search_wrapper'>
                        <form id='label_form'>
                            <input type='text' id='search' name='code' placeholder="라벨 코드를 입력해 주세요">
                            <img id='search_btn' class='search_img' src='/static/img/메인화면/search.png'>
                            <div>
                                <label for="file-input">
                                    <img class="search_img" src="/static/img/메인화면/camera.png"/>
                                </label>
                            
                                <input id="file-input" type="file" name='img' style="display: none;"/>
                            </div>

                            <span>확인 가능한 고기 종류 : 소고기, 돼지고기</span>
                        </form>
                    </div>
                </div>
            </div>

            <div>
                <p>측정 코드나 QR 코드를 입력하면, 여기에 측정 정보가 나타납니다.</p>
            </div>
            
        </div>
        
   
        <!-- <footer>
            <div class='footer_tab_box'>
                <div class='footer_tab'>ⓒ 내일 Coporation</div>
                <div class='footer_tab'>도움말</div>
                <div class='footer_tab'>이용약관</div>
                <div class='footer_tab'>개인정보 처리방침</div>
            </div>
        </footer> -->
   </article>
   </center>
</body>
</html>