<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="dim-layer">
        <div class="dimBg"></div>
        <div id="layer2" class="pop-layer">
            <!-- <div class="pop-container"> -->
                <div id="result-navbar">
                    측정결과
                    <button type="button" class="btn-close btn-close-white" id="result-close" aria-label="Close">X</button>
                </div>
        
                <div id="result-body">
                    <div class="result-row">
                        <div id="classify-info"></div>
                        <div id="grade-info"></div>
                    </div>
                    <div class="result-row">
                        <div id="store_info"></div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>

    {% include "menu_template.html" %}
    <script src = "/static/js/index.js"></script>
    
    <center>
    <article>
        <script>
            $('body').css('background-image', "url('/static/img/meat4.png')");
            $('#logo_img').attr('src', '/static/img/메인화면/logo_white.png');
        </script>

        <div id="center-container">
            <div id="center-textarea">
                <p id="center-text-title">고기등급 이젠 내가 보고 사자!</p>
                <p id="center-text">사장님이 측정한 고기 품질을 직접 확인하세요.<br>라벨에 표시한 측정번호를 입력하거나 QR코드를 입력하세요.</p>
            </div>
            
            <div id='search_wrapper'>
                <form id='label_form'>
                    <input type='text' id='search' name='code' placeholder="라벨 코드나 이미지를 입력해 주세요">
                    <a href="#layer2" class="btn-example">
                        <img id='search_btn' class='search_img' src='/static/img/메인화면/search.png'>
                    </a>
                    <div>
                        <label for="file-input">
                            <img class="search_img" src="/static/img/메인화면/camera.png"/>
                        </label>
                    
                        <input id="file-input" type="file" name='img' style="display: none;"/>
                    </div>

                    <!-- <span>확인 가능한 고기 종류 : 소고기, 돼지고기</span> -->
                </form>
            </div>
        </div>
   </article>
   </center>
</body>
</html>