<!-- 헤더 시작 -->
<header>
    <div id="small_header">
        <div id="logo_box" onclick="location.href='/'">
            <img id='logo_img' src='/static/img/메인화면/logo.png'>
            
        </div>
        
        <div id="tab_box">
            <div class="tab_item" onclick="location.href='/map'">
                주변업체찾기
            </div>
            
            <div class="tab_item" onclick="location.href='/grade'">
                육질등급표
            </div>
            
            <div class="tab_item need_login" onclick="location.href='/check_grade'">
                육질측정
            </div>
        </div>

        <div id='account_box'>
            <div class="login_item need_logout" onclick="location.href='/login'">
                로그인
            </div>
            
            <div class="login_item need_logout" onclick="location.href='/regist'">
                회원가입
            </div>
            
            <div class="login_item need_login" onclick="location.href='/'">
                로그아웃
            </div>
        </div>
    </div>
</header>
<!-- 헤더 끝 -->