<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "/static/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<style>
.reprofile{
	width:80px;
	height: 50px;

}

</style>

<body>
    <center>
    <article>
        {% include "menu_template.html" %}
        <div id="big_contain">
            
            <div class="mypage_big_box">
                <div class="mypage_small_box">
                    <div class="box_title">프로필</div>

                    <div class="box_header">이름</div>
                    <div class="box_contain">{{data['name']}}</div>
                    <br>

                    <div class="box_header">대표 상호명</div>
					{% if data['main_store'] == "" %}
					<div class="box_contain">등록된 상호 없음</div>
					{% else %}
                    <div class="box_contain">{{data['main_store']}}</div>
					
					{% endif %}
                    <br>

                    <div class="box_header">전화번호</div>
                    <div class="box_contain">+82 {{data['phone']}}</div>
                    <br>


                    <div class="box_header">비밀번호</div>
                    <div class="box_contain">{{data['pw']}}</div>
					<br><br><br>


					<input type="button" value="수 정" name="reprofile" class="reprofile">
					
                </div>
                
                <div class="mypage_small_box">
                    <div class="box_title">멤버십</div>

                    <div class="membership_box">
                        <div class="membership_header_box">
                            STANDARD
                        </div>

                        <div class="membership_contain_box">
                            PREMIUM
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
   
        <!-- <footer>
            <div class='footer_tab_box'>
                <div class='footer_tab'>ⓒ 내일 Coporation</div>
                <div class='footer_tab'>도움말</div>
                <div class='footer_tab'>이용약관</div>
                <div class='footer_tab'>개인정보 처리방침</div>
            </div>
        </footer> -->
   </article>
   </center>
</body>
</html>