<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "/static/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <center>
    <article>
        {% include "menu_template.html" %}
        <div id="big_contain">
            
            <div class="mypage_big_box">
                <div class="mypage_small_box">
                    <div class="box_title">프로필</div>

                    <div class="box_header">이름</div>
                    <div class="box_contain">이현무</div>
                    <br>

                    <div class="box_header">대표 상호명</div>
                    <div class="box_contain">맹학교</div>
                    <br>

                    <div class="box_header">전화번호</div>
                    <div class="box_contain">112</div>
                    <br>

                    <div class="box_header">이메일</div>
                    <div class="box_contain">ㅁㄴㅇㄴㅁㅁㄴㅇ</div>
                    <br>

                    <div class="box_header">비밀번호</div>
                    <div class="box_contain">123******</div>
                </div>
                
                <div class="mypage_small_box">
                    <div class="box_title">멤버십</div>

                    <div class="membership_box">
                        <div class="membership_header_box">
                            asd
                        </div>

                        <div class="membership_contain_box">
                            asd
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
   
        <!-- <footer>
            <div class='footer_tab_box'>
                <div class='footer_tab'>ⓒ 내일 Coporation</div>
                <div class='footer_tab'>도움말</div>
                <div class='footer_tab'>이용약관</div>
                <div class='footer_tab'>개인정보 처리방침</div>
            </div>
        </footer> -->
   </article>
   </center>
</body>
</html>