<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V7</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/font/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/font/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<!--===============================================================================================-->
</head>
<body>
	<center>
    <article>
	{% include "menu_template.html" %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-90 p-b-30">
				<form class="login100-form validate-form" action="/regist" method="post">
					<span class="login100-form-title p-b-40">
						고판사 회원가입
					</span>

					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="ID" placeholder="아이디">
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-20">
						<input class="input100" type="password" name="pass" placeholder="비밀번호">
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-20">
						<input class="input100" type="password" name="passck" placeholder="비밀번호 확인">
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="username" placeholder="이름">
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="PHONE" placeholder="전화번호">
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-16">
						<!-- <input class="input100" type="select" name="kinds" placeholder="업종"> -->
						<select class="input100" type="select" name="kinds" placeholder="업종"
							style="border:0;">
							<option value="">업종</option>
							<option value="online">온라인</option>
							<option value="rest">식당</option>
							<option value="offline">정육점</option>
						</select>
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="store" id="store_input"
						placeholder="상호명" onkeyup="find_store();">
						<span class="focus-input100"></span>
						<input id="store_select" type="text" name="store_select" readonly/>
						<div id="store_box"></div>
					</div>

					

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							가입하기
							<!-- <a href="/join" style="text-decoration:none; color:white;"></a> -->
						</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
	
	</article>
	</center>
    
	
<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/login.js"></script>

</body>
<script>
	function getStoreHtml(business_name) {
        let storeHtml = `<ul class="storeList">
            <li class="store_title">${business_name}</li>
        </ul>`
        $('#store_box').append(storeHtml)
    }

	// 업체명 입력하면 디비에 저장된 업체 정보중 입력된 값과 일치하는 정보 불러와줌
	function find_store(){
		var store_name = document.getElementById("store_input").value;
		$('#store_box').empty();
		
		$.ajax({
			type: "POST", 
			url:"/findStore",
			dataType:"JSON", 
			data:{store: store_name
			},
			success : function(data){
                for (let i = 0; i < data.result.length; i++) {
                    let business_name = data.result[i]["business_name"]
                    getStoreHtml(business_name)
                }
				$(".store_title").click(function(){
					$("#store_select").show();
					$("#store_select").val($(this).text());
					$('#store_box').empty();
				})
			}
		});
	}
</script>


</html>