@font-face {
    font-family: '넥슨 고딕';
    src: url("/static/font/NEXONLv1GothicRegular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '넥슨 고딕 bold';
    src: url("/static/font/NEXONLv1GothicBold.ttf");
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    /* font-family:'Malgun Gothic'; */
    font-family:'NanumSquare';
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border-spacing: 0;
    /* transition: all 1000ms;
    -webkit-transition: all 1000ms; */
}
:root {
    --main-theme-color: #FF4C29;
}

body{
    overflow-x: hidden;
    /* background-image: url('/static/img/meat4.png');
    margin:0px; */
}
body > *{
    font-family: '넥슨 고딕' !important;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

article{ /* 내용물 모두 감싸는 상위 박스 */
    width: 100%;
    /* width: 60vw; */
    /* padding-bottom: 200px; */
}

/* 헤더 시작 */
header{     /* 제일 윗 부분 */
    position: relative;
    width: 100%;
    height: 70px;
}


@media (min-width: 1200px){
    #small_header{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 10px 20px 10px 20px;
        text-align: left;
        
        z-index: 999;
        background-color: rgba( 0, 0, 0 , 0.2 ) ;
        color: #d7d7d7;
        border: none;
    }
    
    /***** 로고 시작 *****/
    #logo_box{/* logo 감싸는 박스 */
        position: absolute;
        display: inline-block;
        max-height: 50px;
        cursor: pointer;
    }
    #logo_box img{
        float: left;
        height: 50px;
        margin-right: 5px;
    }
    /***** 로고 끝 *****/

    /***** 가운데 탭들 시작 *****/
    #tab_box{ /* 탭들 감싸는 박스 */
        position: absolute;
        display: inline-block;
        margin-left: 120px;
        padding-left: 50px;
    }
    .tab_item{ /* 탭 각각 글자 박스*/
        display: inline-block;
        height: 50px;
        line-height: 50px;
        margin-right: 50px;
        cursor: pointer;
        font-size: 18px;
    }
    /***** 가운데 탭들 끝 *****/
    .login_item{ 
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        /* color: #53575e; */
        color: #d7d7d7;
        font-weight: 600;
    }
}
@media (max-width: 1200px){
    #small_header{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 10px 10px 10px 10px;

        text-align: left;
        
        z-index: 999;
        background-color: rgba( 0, 0, 0 , 0.2 ) ;
        color: #d7d7d7;
        border: none;
    }
    
    /***** 로고 시작 *****/
    #logo_box{/* logo 감싸는 박스 */
        position: absolute;
        display: inline-block;
        max-height: 30px;
        cursor: pointer;
    }
    #logo_box img{
        float: left;
        height: 30px;
        margin-top: 10px;
        margin-right: 5px;
    }
    /***** 로고 끝 *****/

    /***** 가운데 탭들 시작 *****/
    #tab_box{ /* 탭들 감싸는 박스 */
        position: absolute;
        display: inline-block;
        margin-left: 80px;
        padding-left: 10px;
    }
    .tab_item{ /* 탭 각각 글자 박스*/
        display: inline-block;
        height: 50px;
        line-height: 50px;
        margin-right: 10px;
        font-size: 10px;
        font-weight: 600;
        cursor: pointer;
    }
    /***** 가운데 탭들 끝 *****/
    .login_item{ 
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        /* color: #53575e; */
        font-size: 10px;
        color: #d7d7d7;
        font-weight: 600;
    }
}







/* 탭들 오른쪽 로그인 회원가입 등 시작 */
#account_box{
    position: absolute;
    display: inline-block;
    height: 50px;
    padding: 10px;
    right: 0;
}

.login_item:hover{ 
    color: var(--main-theme-color);
    font-weight: 600;
}
.tab_item:hover{ 
    color: var(--main-theme-color);
    font-weight: 600;
}
/* 탭들 오른쪽 로그인 회원가입 등 끝 */
/***** 헤더 끝 *****/



/***** 인덱스페이지 전용 시작 *****/

/* 레이어팝업 시작 */
.pop-layer .pop-container {
    padding: 20px 25px;
}

.pop-layer p.ctxt {
    color: #666;
    line-height: 25px;
}

.pop-layer .btn-r {
    width: 100%;
    margin: 10px 0 20px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
    text-align: right;
}

@media (min-width: 1200px){
    .pop-layer {
        position: absolute;
        display: none;
        width: 700px;
        height: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        /* border: 5px solid #3571B5; */
        z-index: 10;
    }
    #layer2 {
        width:640px;
        height:360px;
        background-image: url('/static/img/label_backgroundpng.png');
    }
    #classify-info {
        display: inline-block;
        width: 75%;
        height: 130px;
        border-radius: 10px;
        vertical-align: top;
        background-color: rgba( 255,255,255 , 0.6 );
    }
    
    #grade-info {
        width: 23%;
        height: 130px;
        background: black;
        color: white;
        font-size: 100px;
        text-align: center;
        font-weight: 900;
    }
    #store_info{
        width: 100%;
        height: 130px;
        border-radius: 10px;
        vertical-align: top;
        background-color: rgba( 255,255,255 , 0.6 );
    }
    
    #result-body b{
        font-size: 30px;
        font-weight: 900;
    }
    #result-body p{
        font-size: 20px;
        font-weight: bold;
    }
    .result-row {
        height:150px;
        padding:20px;
    }
}
@media (max-width: 1200px){
    .pop-layer {
        position: absolute;
        display: none;
        width: 95%;
        height: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        /* border: 5px solid #3571B5; */
        z-index: 10;
    }
    #layer2 {
        width: 95%;
        height: 320px;
        background-image: url('/static/img/label_backgroundpng.png');
    }
    #classify-info {
        display: inline-block;
        width: 75%;
        height: 90px;
        border-radius: 10px;
        vertical-align: top;
        background-color: rgba( 255,255,255 , 0.6 );
    }
    
    #grade-info {
        width: 23%;
        height: 90px;
        background: black;
        color: white;
        font-size: 70px;
        text-align: center;
        font-weight: 900;
    }
    #store_info{
        width: 100%;
        height: 90px;
        border-radius: 10px;
        vertical-align: top;
        background-color: rgba( 255,255,255 , 0.6 );
    }
    
    #result-body b{
        font-size: 24px;
        font-weight: 900;
    }
    #result-body p{
        font-size: 14px;
        font-weight: bold;
    }
    .result-row {
        height:130px;
        padding:20px;
    }
}

.dim-layer {
    display: none;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.dim-layer .dimBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
    display: block;
}

a.btn-layerClose {
    display: inline-block;
    height: 25px;
    padding: 0 14px 0;
    border: 1px solid #304a8a;
    background-color: #3f5a9d;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
}

a.btn-layerClose:hover {
    border: 1px solid #091940;
    background-color: #1f326a;
    color: #fff;
}


#result-navbar {
    position: relative;
    width:100%;
    height:auto;
    font-family: 넥슨 고딕;
    font-size:16px;
    /* background-color:rgba( 0, 0,0 , 0.6 ) ; */
    background: black;
    color:white;
    padding:10px;
}

#result-close {
    position:absolute;
    background: black;
    color: white;
    border: none;
    font-size: 20px;
    right:10px;
    cursor: pointer;
    font-weight: bold;
}

#result-body {
    width:100%;
}


.result-row * {
    display:inline-block; 
    margin: 4px;
}
/* 레이어팝업 끝 */

@media (min-width: 1200px){
    #center-container {
        background-color: rgba( 0, 0,0 , 0.3 ) ;
        width: 750px;
        position: absolute;
        left:50%;
        top:50%;
        padding:50px;
        transform:translate(-50%, -50%)
    }
    #center-textarea {
        width: 100%;
        color:white;
        margin: 0px 30px 30px 30px;
        text-align: left;
        line-height: 30px;
    }
    #center-text-title{
        font-family: 넥슨 고딕 bold;
        font-size:40px;
        color:#FF4C29;
        line-height: 100px;
    }
    #center-text {
        font-size:20px;
    }
    #search_wrapper{
        position: relative;
        width: 600px;
        height: 50px;
        background: white;
        border-radius: 25px;
        margin: 25px auto;
    }
    #search{
        position: absolute;
        width: 75%;
        height: 60%;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        margin: auto 30px;
    
        border: none;
    }
    #search:focus {
        outline:none;
    }
    #search::placeholder {
        color: #b4b2b2;
        font-size: 16px;
        font-weight: bold;
    }
    #search_wrapper span{
        position: absolute;
        bottom: -30px;
        left: 30px;
        /* color: #b4b2b2; */
        font-weight: bold;
    }
    #search_wrapper .search_img{
        height: 30px;
        float: right;
        margin-right: 20px;
        margin-top: 10px;
        cursor: pointer;
    }
}
@media (max-width: 1200px){
    #center-container {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba( 0, 0,0 , 0.3 ) ;
    }
    #center-textarea {
        color:white;
        margin: 0px 30px 30px 30px;
        text-align: left;
        line-height: 30px;
    }
    #center-text-title{
        font-family: 넥슨 고딕 bold;
        font-size: 24px;
        color:#FF4C29;
        line-height: 100px;
    }
    #center-text {
        font-size: 14px;
    }
    #search_wrapper{
        position: relative;
        width: 90%;
        height: 50px;
        background: white;
        border-radius: 25px;
        margin: 25px auto;
    }
    #search{
        position: absolute;
        width: 70%;
        height: 60%;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        margin: auto 15px;
    
        border: none;
    }
    #search:focus {
        outline:none;
    }
    #search::placeholder {
        color: #b4b2b2;
        font-size: 14px;
        font-weight: bold;
    }
    #search_wrapper span{
        position: absolute;
        bottom: -30px;
        left: 30px;
        /* color: #b4b2b2; */
        font-weight: bold;
    }
    #search_wrapper .search_img{
        height: 20px;
        float: right;
        margin-right: 15px;
        margin-top: 15px;
        cursor: pointer;
    }
}
#input-field {
    border-radius:50px;
    height:75px;
    font-size: 25px;
    padding:30px;
}

#input-field::placeholder {
    font-family: 넥슨 고딕 bold;
    font-size: 25px;
    color:#ccc;
}


#index_center_logo{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 30%;
    height: auto;
    margin: 0 auto;
}
/***** 인덱스페이지 전용 끝 *****/




/***** 주변업체찾기 (map) 시작 *****/

.editor-datetime {
    position: relative;
 }
@media (min-width: 1200px){
    #grade_table_img_box{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 300px;
    }
}
@media (max-width: 1200px){
    #grade_table_img_box{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 200px;
    }
}
#zoom {
    position: absolute;
    top: 140px;
    right: 20px;
    z-index: 1;
}

#research {
    font-family: '넥슨 고딕';
    position: absolute;
    top: 50px;
    left: 50%;
    transform:translate(-50%, 0%);
    z-index: 1;
    max-width:100%;
}

#ctr_btn {
    width:110%;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%), 0 0 3px 0 rgb(0 0 0 / 32%);
}

#ctr_btn_small {
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%), 0 0 3px 0 rgb(0 0 0 / 32%);
}

#ctr_btn {
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%), 0 0 3px 0 rgb(0 0 0 / 32%);
}

#my_location {
    position: absolute;
    top: 200px;
    right: 20px;
    z-index: 1;
}

#ctr_icon_font {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #545454;
}

.offcanvas-header {
    font-family: '넥슨 고딕' !important;
    height: auto !important;
}

.offcanvas-bottom {
    left:50%;
    transform:translateX(-50%) !important;
    font-family: '넥슨 고딕';
    border-radius: 20px 20px 0px 0px !important;
    height: auto !important;
    width: 420px;
    word-break:break-all;
}

#offcanvas-info {
    background-color: gray;
}


#info_body {
    border-radius: 5px;
}

#info_address {
    text-align: left;
    white-space: normal !important;
}

#info_line {
    margin: 0;
}

.offcanvas-body {
    padding-top: 10px !important;
}

#map_div {
    position: relative;
    top: 130px;
    height: 100%;
}

.navi_button {
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#find_way {
    position:absolute; top:10px; right:10px;  border:none; background:none;
}

#map_div ol { 
    padding-left: 0px !important;
}

#map_div li {
    list-style: none; 
}
/***** 주변업체찾기 (map) 끝 *****/


@media (min-width: 1200px){
    #big_contain{ /* 헤더, 푸터 제외 모든 내용 바깥 큰박스 (소개페이지)*/
        position: relative;
        width: 60%;
        top: 300px;
        padding-bottom: 200px;
    }
}
@media (max-width: 1200px){
    #big_contain{ /* 헤더, 푸터 제외 모든 내용 바깥 큰박스 (소개페이지)*/
        position: relative;
        width: 95%;
        top: 200px;
        padding-bottom: 100px;
    }
}

#top_article{
    position: relative;
    width: 100%;
    height: 350px;
    background: #1E2024;
}

#top_article > img{
    object-fit: cover;
}
#top_article > *{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
}
#top_article > div{
    padding: 60px;
    color: white;
    text-align: left;
}



/***** 육질 등급표 & 등급 측정 페이지 시작 *****/
.meat_category{
    font-size: 15px;
    margin-top: 50px;
    /* width: 50%; */
}
.radioset {
    padding: 15px 10px;
    display: inline-block;
}
.radioset input[type=radio]{
    display: none;
    border: solid #D8D8D8 1px;
}
.radioset input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 110px;
    vertical-align: bottom;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:15px;
}
.radioset input[type=radio]+label{
    background-color: #fff;
    color: #333;
    border: solid #BDBDBD 1px;
}

/*선택됨*/
.radioset input[type=radio]:checked+label{
    background-color: #FE642E;
    color: #fff;
    border: solid #BDBDBD 1px;
}

#grade_table_img_box p{
    color: white;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
}

.switch-button {
    position: relative;
    display: inline-block;
    width: 300px; 
    height: 50px;
    margin-top: 40px;
    z-index: 9999;
    cursor: pointer;
}

.switch-button input { 
    opacity: 0; 
    width: 0; 
    height: 0; 
}

.non_drag{
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 2;
  }
.onoff-switch { 
    position: absolute;
    cursor: pointer; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    border-radius: 20px; 
    /* background-color: white; */
    box-shadow: inset 1px 1px 1px 1px gray; 
    -webkit-transition: .4s; 
    transition: .4s; 
} 
.onoff-switch:before { 
    position: absolute; 
    content: ""; 
    height: 50px; 
    width: 150px; 
    left: 0;
    background-color: var(--main-theme-color); 
    -webkit-transition: .5s; 
    transition: .4s; 
    border-radius: 20px; 
} 
.switch-button input:checked + .onoff-switch { 
    /* background-color: white; */
    box-shadow: inset 1px 1px 1px 1px gray; 
} 

.switch-button input:checked + .onoff-switch:before { 
    -webkit-transform: translateX(150px); 
    -ms-transform: translateX(150px); 
    transform: translateX(150px); 
}

.contain_box{
    position: relative;
    margin-top: 50px;
    text-align: left;
}
@media (min-width: 1200px){
    .switch-button span{
        z-index: -999;
        font-weight: bold;
        font-size: 24px;
        color: black;
        padding: 0 35px;
        line-height: 50px;
        
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .contain_box .numbering{
        display: inline-block;
        background: var(--main-theme-color);
        width: 30px;
        height: 30px;
        margin-top: 50px;
        margin-right: 10px;
        border-radius: 15px;
        line-height: 30px;
        font-weight: bold;
        font-size: 22px;
        color: white;
        text-align: center;
    }
    .contain_box .mini_title{
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-size: 26px;
        font-weight: bold;
    }
    .contain_box .contain{
        margin: 10px 0px 20px 40px;
        color: #888888;
        font-weight: bold;
        font-size: 20px;
    }
    .contain_box img{
        display: block;
        width: 100%;
    }
}
@media (max-width: 1200px){
    .switch-button span{
        z-index: -999;
        font-weight: bold;
        font-size: 20px;
        color: black;
        padding: 0 42px;
        line-height: 50px;
        
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .contain_box .numbering{
        display: inline-block;
        background: var(--main-theme-color);
        width: 20px;
        height: 20px;
        margin-top: 50px;
        margin-right: 10px;
        border-radius: 15px;
        line-height: 20px;
        font-weight: bold;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    .contain_box .mini_title{
        display: inline-block;
        height: 20px;
        line-height: 20px;
        font-size: 18px;
        font-weight: bold;
    }
    .contain_box .contain{
        margin: 10px 0px 20px 30px;
        color: #888888;
        font-weight: bold;
        font-size: 12px;
    }
    .contain_box img{
        display: block;
        margin-left: 5%;
        width: 90%;
    }
}
.contain_box span{
    color: var(--main-theme-color);
}
#camera_box{
    text-align: center;
}
#camera_box #pic{
    width: 300px;
    height: auto;
    margin: 30px auto;
}
/* 육질 등급표 & 등급 측정 페이지 끝 */

/* 등급 측정 페이지 시작 */
#check_grade{
    width: 180px;
    height: 40px;
    border: solid 1px white;
    background: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}


@media (min-width: 1200px){
    .zone {
        position: relative;
        margin: auto;
        width: 800px;
        height: 350px;
        border: 1px solid #ccc;
        background: #dedede;
        margin-top: 70px;
        text-align:center;
        z-index: 20;
        transition: all 0.3s ease-out;
        box-shadow: 0 0 0 1px rgba(255,255,255,.05),inset 0 0 .25em 0 rgba(0,0,0,.25);
        cursor: pointer;
    }
    .zone #dropZ{
        position: relative;
        height: 100%;
    }
    .zone .btnCompression .active{
        background: var(--main-theme-color);
        color:white;
    }
    .zone i{
        text-align: center;
        font-size: 10em;  
        color:#fff;
        margin-top: 50px;
    }
    .zone .selectFile {
        position: relative;
        display: inline-block;
        display: none;
        /* visibility: hidden; */
        width: 150px;
        height: 100px;
        margin: 0 auto;
    }
    .zone .upload_text{
        position: absolute;
        display: inline-block;
        display: block;
        height: 100px;
        line-height: 30px;
        margin: 0 10px;
        font-family: corbellight;
        font-weight: bold;
    }
    #dropZ > div > img:not(#thumbnail){
        height: 100px;
        width: auto;
        margin: 30px auto 0;
    }
    #dropZ div p{
        font-size: 26px;
    }
    #dropZ div p:first-child{
        font-size: 36px;
    }
    .zone .upload_text p{
        margin-top: 20px;
    }
    .zone label input {
        position: absolute;
        display: inline-block;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border-radius: 5px;
        cursor: pointer;  
    }
    .zone label {
        position: absolute;
        display: inline-block;
        width: 150px;
        height: 40px;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        background: var(--main-theme-color);
        color: white;
        border-radius: 10px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        white-space: nowrap;
        box-shadow: 0 1px 1px gray;
        cursor: pointer;
    }

    .zone input[type=file] {
        opacity: 0;
    }
    .zone .in {
        color:white;
        border-color:white;
        background: radial-gradient(ellipse at center,var(--main-theme-color) 0,var(--main-theme-color) 100%);
    }
    .zone .in i {          
        color:#fff;
    }
    .zone .in label {
        background: #fff;
        color: var(--main-theme-color);
    }
    .zone.hover {
        color:gray;
        border-color:white;
        background:#fff;
        border:5px dashed gray;
    }
    .zone.hover i {          
        color:var(--main-theme-color);
    }
    .zone.hover label {
        background: #fff;
        color:var(--main-theme-color);
    }
    .zone.fade {
        transition: all 0.3s ease-out;
        opacity: 1;
    }
    .fileBox{
        position: absolute;
        min-width: 60%;
        max-width: 90%;
        height: 90%;
        /* max-width: 90%;
        max-height: 90%; */
        width: fit-content;
        margin: 10px auto;
        padding: 15px;

        left: 50%;
        transform: translateX(-50%);
        
        border: 2px solid var(--main-theme-color);

        border-radius: 20px;
        background: white;
        font-size: 12px;
        font-weight: bold;
        color: var(--main-theme-color);

        box-shadow: 3px 3px #a8a8a8;
    }
    .fileBox span:not(.x_btn):not(.filename_text){
        position: absolute;
        text-align: left;
        left: 50%;
        top: 50%;
        transform: translate(-40%, -50%);
    }
    .fileBox img{
        display: block;
        min-width: 70%;
        max-width: 90%;
        max-height: 250px;
        width: 400px;
        height: auto;
        margin-right: 20px;
        left: 0;
        /* height: 85%; */
    }
    .x_btn{
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    }
    .filename_text{
        display: inline-block;
        max-width: 480px;
        width: fit-content;
        margin: 5px auto;
        line-height: 18px;
        font-size: 14px;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media (max-width: 1200px){
    .zone {
        position: relative;
        margin: auto;
        width: 100%;
        height: fit-content;
        border: 1px solid #ccc;
        background: #dedede;
        margin-top: 70px;
        text-align:center;
        z-index: 20;
        transition: all 0.3s ease-out;
        box-shadow: 0 0 0 1px rgba(255,255,255,.05),inset 0 0 .25em 0 rgba(0,0,0,.25);
        cursor: pointer;
    }
    .zone #dropZ{
        position: relative;
        height: fit-content;
        overflow: hidden;
    }
    .zone .btnCompression .active{
        background: var(--main-theme-color);
        color:white;
    }
    .zone i{
        text-align: center;
        font-size: 10em;  
        color:#fff;
        margin-top: 50px;
    }
    .zone .selectFile {
        position: relative;
        display: inline-block;
        display: none;
        /* visibility: hidden; */
        width: 150px;
        height: 100px;
        margin: 0 auto;
    }
    .zone .upload_text{
        position: absolute;
        display: inline-block;
        display: block;
        height: 100px;
        line-height: 30px;
        margin: 0 10px;
        font-family: corbellight;
        font-weight: bold;
    }
    #dropZ > div{
        position: relative;
        width: 100%;
    }
    #dropZ img:not(#thumbnail){
        height: 100px;
        width: auto;
        margin: 30px auto 0;
    }
    #dropZ div p:first-child{
        font-size: 36px;
    }
    #dropZ div p{
        font-size: 20px;
    }

    .zone .upload_text p{
        margin-top: 20px;
    }
    .zone label input {
        position: absolute;
        display: inline-block;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border-radius: 5px;
        cursor: pointer;  
    }
    .zone label {
        position: absolute;
        display: inline-block;
        width: 150px;
        height: 40px;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        background: var(--main-theme-color);
        color: white;
        border-radius: 10px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        white-space: nowrap;
        box-shadow: 0 1px 1px gray;
        cursor: pointer;
    }

    .zone input[type=file] {
        opacity: 0;
    }
    .zone .in {
        color:white;
        border-color:white;
        background: radial-gradient(ellipse at center,var(--main-theme-color) 0,var(--main-theme-color) 100%);
    }
    .zone .in i {          
        color:#fff;
    }
    .zone .in label {
        background: #fff;
        color: var(--main-theme-color);
    }
    .zone.hover {
        color:gray;
        border-color:white;
        background:#fff;
        border:5px dashed gray;
    }
    .zone.hover i {          
        color:var(--main-theme-color);
    }
    .zone.hover label {
        background: #fff;
        color:var(--main-theme-color);
    }
    .zone.fade {
        transition: all 0.3s ease-out;
        opacity: 1;
    }
    .fileBox{
        position: relative;
        float: left;
        /* position: absolute; */
        width: 95%;
        height: fit-content;
        /* max-width: 90%;
        max-height: 90%; */
        margin: 5px auto;
        padding: 5px;

        left: 50%;
        transform: translateX(-50%);
        
        border: 2px solid var(--main-theme-color);

        border-radius: 20px;
        background: white;
        font-size: 12px;
        font-weight: bold;
        color: var(--main-theme-color);

        box-shadow: 3px 3px #a8a8a8;
    }
    .fileBox span:not(.x_btn):not(.filename_text){
        position: absolute;
        text-align: left;
        left: 50%;
        top: 50%;
        transform: translate(-40%, -50%);
    }
    .fileBox img{
        display: block;
        width: 300px;
        max-width: 95%;
        max-height: 500px;
        left: 0;
        margin: 30px auto 10px;
        border: 1px solid gray;
        /* height: 85%; */
    }
    .x_btn{
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    }
    .filename_text{
        display: inline-block;
        max-width: 480px;
        width: fit-content;
        margin: 10px auto;
        line-height: 18px;
        font-size: 14px;
        text-align: left;
        text-overflow: ellipsis;
        overflow:hidden;
    }
}


.classify_btn{
    width: 100px;
    height: 100px;
    border: 5px solid var(--main-theme-color);
    border-radius: 50px;
    line-height: 90px;
    font-size: 20pt;
    font-family: arialblack;
    text-align: center;
    margin: 50px auto;
    cursor: pointer;
}
.classify_btn:hover{
    background: var(--main-theme-color);
    color: white;
}
#camera{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#camera + label {
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}

#camera:focus + label,
#camera + label:hover {
    background-color: red;
}

#grade_result{
    font-size: 24px;
    margin: 70px auto 0;
    font-weight: bold;
}
/* 등급 측정 페이지 끝 */




#small_contain{
    width: 100%;
    background: #f0f0f0;
    box-shadow: inset 0 -5px 10px -2px #ccc;
}


.back_line{
    box-shadow: inset 0 -21px 0 #276EBC;
}



/* 마이페이지 시작 */
@media (min-width: 1200px){
    .mypage_big_box{
        position: relative;
        width: 1200px;
        height: 700px;
        padding: 15px;
        margin-top: 50px;
        border: 1px solid #ccc;
        background: rgba( 0, 0, 0 , 0.4 );
    }
    .mypage_small_box{
        position: relative;
        display: inline-block;
        width: 47%;
        height: 95%;
        margin: 15px;
        vertical-align: top;
        padding: 15px;
        border: 1px solid #ccc;
        text-align: left;
    }
    .membership_contain_box{
        height: 240px;
        padding: 20px 10px;
        font-size: 13px;
        line-height: 40px;
        text-align:left;
    }
    .box_title{
        text-align: left;
        font-size: 36px;
        font-weight: 900;
        padding: 20px 10px 30px;
        margin-bottom: 40px;
        border-bottom: 1px solid #ccc;
        color: #dedede;
    }
    .box_header{
        display: inline-block;
        width: 140px;
        height: 30px;
        line-height: 30px;
        margin: 20px 15px;
        font-size: 24px;
        font-weight: bold;
        color: #fefefe;
    }
    .box_contain{
        display: inline-block;
        min-width: 1000px;
        height: 30px;
        margin: 20px 15px;
        vertical-align: top;
        line-height: 30px; 
        font-weight: bold;
        color: #ccc;
    }
    .box_contain:not(div){
        display: block;
        display: list-item;
        font-size: 18px;
        color: black;
    }
}
@media (max-width: 1200px){
    .mypage_big_box{
        position: relative;
        width: 90%;
        padding: 15px;
        margin-top: 50px;
        border: 1px solid #ccc;
        background: rgba( 0, 0, 0 , 0.4 );
    }
    .mypage_small_box{
        position: relative;
        display: block;
        width: 100%;
        height: 95%;
        vertical-align: top;
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ccc;
        text-align: left;
    }
    .membership_contain_box{
        height: 180px;
        padding: 20px 10px;
        font-size: 13px;
        line-height: 40px;
        text-align:left;
    }
    .box_title{
        text-align: left;
        font-size: 24px;
        font-weight: 900;
        padding: 20px 10px 30px;
        margin-bottom: 40px;
        border-bottom: 1px solid #ccc;
        color: #dedede;
    }
    .box_header{
        display: inline-block;
        width: 110px;
        height: 25px;
        margin: 10px 5px;
        line-height: 30px;
        font-size: 20px;
        font-weight: bold;
        color: #fefefe;
    }
    .box_contain{
        display: inline-block;
        min-width: 1000px;
        height: 25px;
        margin: 10px 0;
        vertical-align: top;
        line-height: 30px;
        font-weight: bold;
        color: #ccc;
    }
    .box_contain:not(div){
        display: block;
        display: list-item;
        font-size: 12px;
        color: black;
    }
}
.mypage_big_box input{
    width: 100px;
    /* background: #b7b7b7; */
    cursor: pointer;
}
.membership_box{
    position: relative;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    height: auto;
    padding: 0px;
    border: 0;
}
.membership_header_box{
    height: 40px;
    border-bottom: 1px solid #ccc;
    font-size: 21px;
}

.reprofile{
    width:80px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px;
}
.small_box_m{
    padding: 15px 5px;
}
.cost{
    font-size: 20px;
    margin-top: 10px;
}
.memberships{
    width: 47%;
    border: solid red 1px;
    display: inline-block;
    vertical-align: top;
    padding: 25px 12px;
    text-align: center;
    color: black;
    font-weight: 900;
    margin: 0px 6px;
    
    border-radius: 20px;
}

.m_standard{
    /* background-color: #F2F2F2; */
    background: #b7b7b7;
}

.m_premium{
    /* background-color: #F2F2F2; */
    background: #b7b7b7;
    /* color: #FFFFFF; */
}
.pay{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    vertical-align: bottom;
}
/* 마이페이지 끝 */



/* footer{
    position: relative;
    width: 100%;
    height: 180px;
    font-weight: bold;
    color: black;
    font-size: 14px;
    background: white;
}
.footer_tab_box{
    position: absolute;
    width: 1200px;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}
.footer_tab{
    float: left;
    margin-right: 50px;
    color: #1e232e;
    cursor: pointer;
}
.footer_tab_box img{
    float: right;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
} */