
*{
    box-sizing: border-box;
    /* font-family:'Malgun Gothic'; */
    font-family:'NanumSquare';
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border-spacing: 0;
    /* transition: all 1000ms;
    -webkit-transition: all 1000ms; */
}
:root {
    --main-theme-color: #FF4C29;
}

body{
    overflow-x: hidden;
}
article{ /* 내용물 모두 감싸는 상위 박스 */
    width: 60vw;
    padding-bottom: 200px;
}

/* 헤더 시작 */
header{     /* 제일 윗 부분 */
    position: relative;
    width: 100%;
    height: 70px;
}


#small_header{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 0px 10px 0px;
    text-align: left;
}



/* 로고 시작 */
#logo_box{/* logo 감싸는 박스 */
    position: absolute;
    display: inline-block;
    max-height: 50px;
    cursor: pointer;
}
#logo_box img{
    float: left;
    height: 50px;
    margin-right: 5px;
}
/* 로고 끝 */


/* 가운데 탭들 시작*/
#tab_box{ /* 탭들 감싸는 박스 */
    position: absolute;
    display: inline-block;
    /* left: 50%;
    transform: translateX(-50%); */
    margin-left: 120px;
    padding-left: 50px;
}
.tab_item{ /* 탭 각각 글자 박스*/
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-right: 50px;
    cursor: pointer;
    font-size: 18px;
}
/* 가운데 탭들 끝 */


/* 탭들 오른쪽 로그인 회원가입 등 시작 */
#account_box{
    position: absolute;
    display: inline-block;
    height: 50px;
    padding: 10px;
    right: 0;
}
.login_item{ 
    display: inline-block;
    margin-left: 15px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-size: 14px;
    color: #53575e;
    font-weight: 600;
}

.login_item:hover{ 
    color: var(--main-theme-color);
    font-weight: 600;
}
.tab_item:hover{ 
    color: var(--main-theme-color);
    font-weight: 600;
}
/* 탭들 오른쪽 로그인 회원가입 등 끝 */
/* 헤더 끝 */




#big_contain{ /* 헤더, 푸터 제외 모든 내용 바깥 큰박스 (소개페이지)*/
    position: relative;
    width: 100%;
}

#top_article{
    position: relative;
    width: 100%;
    height: 350px;
    background: #1E2024;
}

#top_article > img{
    object-fit: cover;
}
#top_article > *{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
}
#top_article > div{
    padding: 60px;
    color: white;
    text-align: left;
}



/* 육질 등급표 & 등급 측정 페이지 시작 */

#grade_table_img_box{
    height: 200px;
}
#grade_table_img_box div{
    background-color: rgba(0, 0, 0, 0.3);
}
#grade_table_img_box p{
    color: white;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    line-height: 200px;
}

.switch-button {
    position: relative;
    display: inline-block;
    width: 300px; 
    height: 50px;
    margin-top: 40px;
    z-index: 9999;
    cursor: pointer;
}
.switch-button span{
    z-index: -999;
    font-weight: bold;
    font-size: 24px;
    color: black;
    padding: 0 35px;
    line-height: 50px;
    
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.switch-button input { 
    opacity: 0; 
    width: 0; 
    height: 0; 
}

.non_drag{
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 2;
  }
.onoff-switch { 
    position: absolute;
    cursor: pointer; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    border-radius: 20px; 
    /* background-color: white; */
    box-shadow: inset 1px 1px 1px 1px gray; 
    -webkit-transition: .4s; 
    transition: .4s; 
} 
.onoff-switch:before { 
    position: absolute; 
    content: ""; 
    height: 50px; 
    width: 150px; 
    left: 0;
    background-color: var(--main-theme-color); 
    -webkit-transition: .5s; 
    transition: .4s; 
    border-radius: 20px; 
} 
.switch-button input:checked + .onoff-switch { 
    /* background-color: white; */
    box-shadow: inset 1px 1px 1px 1px gray; 
} 

.switch-button input:checked + .onoff-switch:before { 
    -webkit-transform: translateX(150px); 
    -ms-transform: translateX(150px); 
    transform: translateX(150px); 
}

.contain_box{
    position: relative;
    margin-top: 50px;
    text-align: left;
}
.contain_box .numbering{
    display: inline-block;
    background: var(--main-theme-color);
    width: 30px;
    height: 30px;
    margin-top: 50px;
    margin-right: 10px;
    border-radius: 15px;
    line-height: 30px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-align: center;
}
.contain_box .mini_title{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 26px;
    font-weight: bold;
}
.contain_box .contain{
    margin: 10px 0px 20px 40px;
    color: #888888;
    font-weight: bold;
    font-size: 20px;
}
.contain_box span{
    color: var(--main-theme-color);
}
.contain_box img{
    display: block;
    width: 100%;
}
/* 육질 등급표 & 등급 측정 페이지 끝 */

/* 등급 측정 페이지 시작 */
#check_grade{
    width: 180px;
    height: 40px;
    border: solid 1px white;
    background: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.zone {
    position: relative;
    margin: auto;
    width: 800px;
    height: 350px;
    border: 1px solid #ccc;
    background: #dedede;
    margin-top: 70px;
    text-align:center;
    z-index: 20;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 0 1px rgba(255,255,255,.05),inset 0 0 .25em 0 rgba(0,0,0,.25);
    cursor: pointer;
}
.zone #dropZ{
    position: relative;
    height: 100%;
}
.zone .btnCompression .active{
    background: var(--main-theme-color);
    color:white;
}
.zone i{
    text-align: center;
    font-size: 10em;  
    color:#fff;
    margin-top: 50px;
}
.zone .selectFile {
    position: relative;
    display: inline-block;
    display: none;
    /* visibility: hidden; */
    width: 150px;
    height: 100px;
    margin: 0 auto;
}
.zone .upload_text{
    display: inline-block;
    display: block;
    height: 100px;
    line-height: 30px;
    margin: 0 10px;
    /* vertical-align: top; */
    font-family: corbellight;
    font-weight: bold;
}
.zone .upload_text > img{
    height: 100px;
    width: auto;
    margin: 30px auto 0;
}
.zone .upload_text p{
    margin-top: 20px;
}
.zone label input {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 5px;
    cursor: pointer;  
}
.zone label {
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 40px;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    background: var(--main-theme-color);
    color: white;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
    box-shadow: 0 1px 1px gray;
    cursor: pointer;
}

.zone input[type=file] {
    opacity: 0;
}
.zone .in {
    color:white;
    border-color:white;
    background: radial-gradient(ellipse at center,var(--main-theme-color) 0,var(--main-theme-color) 100%);
}
.zone .in i {          
    color:#fff;
}
.zone .in label {
    background: #fff;
    color: var(--main-theme-color);
}
.zone.hover {
    color:gray;
    border-color:white;
    background:#fff;
    border:5px dashed gray;
}
.zone.hover i {          
    color:var(--main-theme-color);
}
.zone.hover label {
    background: #fff;
    color:var(--main-theme-color);
}
.zone.fade {
    transition: all 0.3s ease-out;
    opacity: 1;
}
.fileBox{
    position: relative;
    max-width: 90%;
    max-height: 200px;
    width: fit-content;
    height: fit-height;
    margin: 30px auto;
    padding: 15px;
    
    border: 2px solid var(--main-theme-color);

    border-radius: 20px;
    background: white;
    font-size: 12px;
    font-weight: bold;
    color: var(--main-theme-color);

    box-shadow: 3px 3px #a8a8a8;
}
.fileBox span:not(.x_btn):not(.filename_text){
    position: absolute;
    text-align: left;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
}
.fileBox img{
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    left: 0;
    /* height: 85%; */
}
.x_btn{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
.filename_text{
    display: inline-block;
    max-width: 480px;
    width: fit-content;
    margin: auto;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    overflow:hidden;
}
.classify_btn{
    width: 100px;
    height: 100px;
    border: 5px solid var(--main-theme-color);
    border-radius: 50px;
    line-height: 90px;
    font-size: 20pt;
    font-family: arialblack;
    margin: 50px auto;
    cursor: pointer;
}
.classify_btn:hover{
    background: var(--main-theme-color);
    color: white;
}
/* 등급 측정 페이지 끝 */


#search_box{ 
    position: relative;
    height: 150px;
}
#search_box > div{ /* 메인 큰 이미지 박스 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.3);
}


#search_wrapper{
    position: relative;
    width: 80%;
    height: 50px;
    background: white;
    border-radius: 25px;
    margin: 25px auto;
}
#search{
    position: absolute;
    width: 75%;
    height: 60%;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin: auto 30px;

    border: none;
}
#search:focus {
    outline:none;
}
#search::placeholder {
    color: #b4b2b2;
    font-size: 16px;
    font-weight: bold;
}
#search_wrapper span{
    position: absolute;
    bottom: -30px;
    left: 30px;
    /* color: #b4b2b2; */
    font-weight: bold;
}
#search_wrapper .search_img{
    height: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}


#small_contain{
    width: 100%;
    background: #f0f0f0;
    box-shadow: inset 0 -5px 10px -2px #ccc;
}





/* loogin popup start */
body{
    height: 100vh;
    text-align: center;
}
    /*Trigger Button*/
.login-trigger {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, #B05574, #F87E7B);
    padding: 15px 30px;
    border-radius: 30px;
    position: relative; 
    top: 50%;
}

/*Modal*/
h4 {
    font-weight: bold;
    color: #fff;
}
.close {
    color: #fff;
    transform: scale(1.2)
}
.modal-content {
    font-weight: bold;
    background: linear-gradient(to bottom right,#F87E7B,#B05574);
}
.form-control {
    margin: 1em 0;
}
.form-control:hover, .form-control:focus {
    box-shadow: none;  
    border-color: #fff;
}
.username, .password {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee;
    padding-left: 0;
    font-weight: normal;
    background: transparent;  
}
.form-control::-webkit-input-placeholder {
    color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
}
.login {
    padding: 6px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid #FAB87F;
    color: #FAB87F;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
}
.login:hover {
    background: #FAB87F;
    color: #fff;
}
/* login popup end */













#login_contain{
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient( to right top, #3d87c2, #33ff33 );
}
#login_box{
    position: absolute;
    width: 25%;
    height: 55%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -1px 1px 100px -50px black, 1px -1px 100px -50px black;
}
#login_top{
    position: relative;
    width: 100%;
    height: 12%;
    background: #1e232e;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#login_bottom{
    width: 100%;
    height: 88%;
    background: #ededed;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#login_form{
    position: relative;
    height: 85%;
    padding: 12% 1% 5% 1%;
}
.login_input_box{
    width: 75%;
    height: 15%;
    margin-bottom: 3%;
    background: #f0f0f0;
    border: 1px solid #c7c7c7;
    border-radius: 20px;
}
.login_input_box input{
    width: 90%;
    height: 100%;
    border: none;
    background: none;
}
.login_input_box input[type=password]{
    font-family: arial;
}
.login_input_box input:focus{
    outline: none;
}
.login_input_box input::placeholder{
    color: #b4b2b2;
    letter-spacing: 2px;
    font-weight: bold;
}

#login_form #save_id{
    float: left;
    margin-top: 10px;
    margin-left: 13%;
}
#login_form #save_id span{
    margin-left: 10px;
    color: #1e232e;
    font-size: 14px;
}
#login_form #save_id #save_id_chk{
    display: none;
    height: 16px;
}
#login_form #save_id #save_id_chk + label{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    cursor: pointer;
    outline: 1px solid #c7c7c7;
}

#login_form #save_id #save_id_chk:checked + label:after{
    content: '\2714';
    font-size: 14px;
}


#login_btn{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    border-radius: 40px;
    background: linear-gradient( to right top, #3d87c2, #33ff33 );
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #f0f0f0;
    line-height: 80px;
}

/* 로그인 창 맨 아래 회원가입 아이디찾기 비밀번호찾기 */
#login_bottom > div:nth-child(2){
    width: 100%;
    height: 100%;
}
#login_bottom > div:nth-child(2) div{
    display: inline-block;
    margin: 15px 15px;
    font-weight: 900;
    font-size: 13px;
    cursor: pointer;
}



/* 로그인페이지 전용 */
/* 로고 시작 */
#login_box #logo_box{/* 내일 logo 감싸는 박스 */
    position: absolute;
    display: inline-block;
    max-height: 50px;
    cursor: pointer;

    left: 50%;
    transform: translateX(-50%);
}
#login_box #logo_box img{
    float: left;
    height: 40px;
    margin-top: 7px;
    margin-right: 5px;
}
#login_box #logo_box #logo_txt{
    position: relative;
    display: inline-block;
    height: 30px;
    margin-top: 12px;
    
    color: #f6f5f5;
}
#login_box #logo_box #logo_txt_left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    font-size: 26px;
    font-weight: bold;
}
#login_box #logo_box #logo_txt_right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    text-align: left;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 12px;
}
/* 로고 끝 */
/* 로그인페이지 전용 */



.back_line{
    box-shadow: inset 0 -21px 0 #276EBC;
}


footer{
    position: relative;
    width: 100%;
    height: 180px;
    font-weight: bold;
    color: black;
    font-size: 14px;
    background: white;
}
.footer_tab_box{
    position: absolute;
    width: 1200px;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}
.footer_tab{
    float: left;
    margin-right: 50px;
    color: #1e232e;
    cursor: pointer;
}
.footer_tab_box img{
    float: right;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}









@media ( max-width: 1500px ) {
    #login_box{
        position: absolute;
        width: 40%;
        height: 55%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: -1px 1px 100px -50px black, 1px -1px 100px -50px black;
    }
}

/* 모바일용 (반응형 웹) */
@media ( max-width: 1025px ) {
    body{
        overflow-x: scroll;
    }
    article{
        /* width: 90vw; */
    }
  }